main {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.calc-container {
  border-radius: 15px;
  width: 500px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2%;
}

.calc-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

#calc-input {
  text-align: right;
  font-size: 5em;
  width: 90%;
  height: 80%;
}

.calc-btns-container {
  display: flex;
  width: 90%;
}

.calc-nums-container {
  display: flex;
  flex-wrap: wrap;
}

.num-btns, #btn-clear, #btn-dec{
  width: 30%;
  flex: auto;
  font-size: 2.5em;
  text-align: left;
}

#btn-clear {
  background-color: lightcoral;
}

.calc-operators-container {
  display: flex;
  flex-direction: column;
}

.oper-btns, #btn-equal {
  width: 100px;
  height: 100px;
  flex: auto;
  font-size: 2em;
  background-color: lightcoral;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  color: white;
  text-align: center;
}